.btn {
    display: inline-block;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 20px;
    font-size: 18px;
    border-radius: 20px;
    background-color: blue;
    color: #ffffff;
    box-shadow: 2px 2px 5px #777777;
}

.btn:hover {
    box-shadow: 4px 4px 8px #777777;
    cursor: pointer;
}